@model GestionnaireRageDuCode.Models.ForumViewModels.MessageViewModel

@{
    ViewData["Title"] = "EditMessage";
}

<h2>EditMessage</h2>

<form asp-action="EditMessage">
    <div class="form-horizontal">
        <h4>MessageViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Corps" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Corps" class="form-control" />
                <span asp-validation-for="Corps" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCreation" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

