@{
    ViewData["Title"] = "À propos";
}

<br />

<h2 style="text-align:center">@ViewData["Title"]</h2>
<p style="font-size: 20px">Afin d'offrir un service convivial, simple et peu coûteux pour les 
    développeurs voulant partager des projets; Ainsi que collaborer à
    des projets provenant d'autres utilisateurs tout en favorisant la 
    communication et l'échange d'information, il nous a été donné de créer 
    <i>Rage du code</i>.
</p>
<br />
<h2><i>Rage du code</i> se décrit brièvement comme:</h2>

<br />
<p style="font-size: 20px">
    <ul>
        <li class="li_About">Une communauté de développeurs</li>
        <li class="li_About">Un éditeur de code convivial avec coloration syntaxique</li>
        <li class="li_About">Plusieurs langages de programmation pris en compte</li>
        <li class="li_About">Une messagerie sécurisée par encryption entre membres</li>
        <li class="li_About">Un service d'Aide par jumelage</li>
    </ul>
</p>
