@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3><i>Rage du code</i> c'est:</h3> <!--À reformuler--> <!--<h3>@ViewData["Message"]</h3>-->

<p> <!--Police à modifier-->
    <ul>
        <br />
        <li>Une communauté de développeurs</li>
        <br />
        <li>Un éditeur de code convivial avec coloration syntaxique</li>
        <br />
        <li>Une messagerie sécurisée entre membres</li>
        <br />
        <li>Un service d'Aide par jumelage</li>
        <br />
    </ul>
</p>
