@{
    ViewData["Title"] = "À propos";
}

<br />

<h2>@ViewData["Title"]</h2>
<h3><i>Rage du code</i> c'est:</h3> <!--À reformuler--> <!--<h3>@ViewData["Message"]</h3>-->

<p> <!--Police à modifier-->
    <ul>
        <li>Une communauté de développeurs</li>
        <li>Un éditeur de code convivial avec coloration syntaxique</li>
        <li>Une messagerie sécurisée entre membres</li>
        <li>Un service d'Aide par jumelage</li>
    </ul>
</p>
