@{
    ViewData["Title"] = "À propos";
}

<br />

<h2 style="text-align:center">@ViewData["Title"]</h2>
<p style="font-size: 20px">Afin d'offrir un service convivial, simple et peu coûteux pour les 
    développeurs voulant partager des projets ainsi que de collaborer à
    des projets provenant d'autres utilisateurs tout en favorisant la 
    communication et l'échange d'information, l'application web
    <i>Rage du code</i> a vu le jour.
</p>
<br />
<h2><i>Rage du code</i> c'est:</h2> <!--À reformuler--> <!--<h3>@ViewData["Message"]</h3>-->

<br />
<p style="font-size: 20px"><!--Police à modifier-->
    <ul>
        <li>Une communauté de développeurs</li>
        <br />
        <li>Un éditeur de code convivial avec coloration syntaxique</li>
        <br />
        <li>Plusieurs langages de programmation pris en compte</li>
        <br />
        <li>Une messagerie sécurisée par encryption entre membres</li>
        <br />
        <li>Un service d'Aide par jumelage</li>
    </ul>
</p>
