@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Les bidouilleurs SATANIQUES</h3><!--<h3>@ViewData["Message"]</h3>--> <!-- À changer dans le ViewData-->

<address>
    Porte de l'Enfer<br />
    Darvaza, Turkménistan<br />
    <abbr title="Phone">Tel:</abbr>
    (666)-666-6666
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.848358203101!2d58.40866491490756!3d40.16792987939473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f62cc662c08364d%3A0xafa46f2814ef23d2!2sDarvaza+Gas+Crater!5e0!3m2!1sfr!2sfr!4v1473789956001" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
