@{
    ViewData["Title"] = "Confirmation de changement du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été changé. Veuillez <a asp-controller="Account" asp-action="Login">cliquer ici pour vous connecter</a>.
</p>
