<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Timothé Provost et Alexandre Constant" />
    <title>@ViewData["Title"] - Rage du Code</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <style>
        @@font-face {
            font-family: 'thunder_strikeregular';
            src: url('thunder_strike-webfont.eot');
            src: url('thunder_strike-webfont.eot?#iefix') format('embedded-opentype'), url('thunder_strike-webfont.woff2') format('woff2'), url('thunder_strike-webfont.woff') format('woff'), url('thunder_strike-webfont.ttf') format('truetype'), url('thunder_strike-webfont.svg#thunder_strikeregular') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#969696">
        <div class="container" style="background:inherit">
            <div class="navbar-header" style="background:inherit">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background:inherit">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" ; style="background:inherit; height:60px"><img src="~/images/logo.png" style="margin:auto" /></a>
            </div>
            <div class="navbar-collapse collapse" style="background:inherit">
                <ul class="nav navbar-nav" style="background:inherit">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" style="color:black; margin-top:5px; font-size:medium;"><b>Home</b></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" style="color:black; margin-top:5px; font-size:medium"><b>About</b></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" style="color:black; margin-top:5px; font-size:medium"><b>Contact</b></a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="navbar-collapse collapse" style="background:inherit">
                <ul class="nav navbar-nav">
                    <li><p style="margin-top:15px"><b>&copy; 2016 - Les Bidouilleurs  Sataniques</b> </p></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" style="color:black; font-size:small">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" style="color:black; font-size:small">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" style="color:black; font-size:small">Contact</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
