@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erreur</h1>
<h2 class="text-danger">Une erreur est survenue en traitant votre demande.</h2>

<h3>Mode Développement</h3>
<p>
    Changer à l'environnement <strong>Développement</strong> affichera plus de détails à propos de l'erreur.
</p>